<p id="notice"><%= notice %></p>
	<div class="container">
<h1>Hoang's Blog</h1>
<h3>My first Rails Application for CoderSchool!</h3>

	<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search articles" %>
	<%= submit_tag "Search" %>
	<% end %>

	<% if @articles.present? %>
  	<%= render @articles %>
	<% else %>
	  <p>There are no articles containing the term(s) <%= params[:search] %>.</p>
	<% end %>

<br>
<%= link_to 'New Article', new_article_path %>
